In [ ]:
# EDA is based on two chips in which I going to work
# - descriptive statistics
# - Types of analysis

In [2]:
import pandas as pd

In [4]:
# import the perfect data
Eda_data = pd.read_csv('data/df1_data.csv')

In [5]:
Eda_data

,age,married,orientation,religion,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,MarriedN,OrientationN,ReligionN
0,16,Never,Hetero,Other,1.0,7.0,7.0,7.0,7.0,5.0,1.0,4.0,2.0,4.0,4.0,1.0,1.0,NaN
1,16,Never,New Types,Christian Other,6.0,4.0,7.0,4.0,7.0,7.0,1.0,4.0,2.0,4.0,4.0,1.0,5.0,NaN
2,17,Never,Homo,Christian,2.0,2.0,2.0,6.0,5.0,5.0,3.0,3.0,4.0,3.0,4.0,1.0,2.0,NaN
3,13,Never,New Types,Christian,1.0,7.0,4.0,4.0,6.0,1.0,6.0,2.0,2.0,2.0,1.0,1.0,5.0,NaN
4,19,Never,Hetero,Muslim,2.0,3.0,6.0,5.0,5.0,6.0,3.0,2.0,3.0,4.0,4.0,1.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39759,21,Never,New Types,Muslim,4.0,5.0,7.0,6.0,4.0,7.0,4.0,3.0,3.0,4.0,4.0,1.0,5.0,NaN
39760,48,Married,Hetero,Christian Other,6.0,7.0,5.0,3.0,6.0,1.0,5.0,2.0,2.0,1.0,2.0,3.0,1.0,NaN
39761,20,Never,Hetero,Protestant,1.0,5.0,7.0,5.0,3.0,5.0,3.0,3.0,2.0,4.0,4.0,1.0,1.0,NaN
39762,26,Never,Hetero,Muslim,6.0,3.0,5.0,3.0,5.0,5.0,1.0,2.0,2.0,1.0,3.0,1.0,1.0,NaN
39763,26,Never,Hetero,Muslim,6.0,3.0,5.0,3.0,5.0,5.0,1.0,2.0,2.0,1.0,3.0,1.0,1.0,NaN